apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ghost-app-nfs-pvc
  namespace: ghost-dmz
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ghost-db-nfs-pvc
  namespace: ghost-dmz
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Mi