apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookstack-db-nfs-pvc
  namespace: bookstack-dmz
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookstack-app-nfs-pvc
  namespace: bookstack-dmz
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi