apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-tracker
  namespace: speedtest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: speedtest-tracker
  template:
    metadata:
      labels:
        app: speedtest-tracker
    spec:
      containers:
        - name: speedtest-tracker
          image: lscr.io/linuxserver/speedtest-tracker:latest
          resources:
            requests:
              cpu: "50m"
              memory: "200Mi"
            limits:
              cpu: "700m"
              memory: "300Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 10
            failureThreshold: 3
          ports:
            - containerPort: 80
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: speedtest
                  key: app_key
            - name: DISPLAY_TIMEZONE
              value: America/Los_Angeles 
            - name: DB_CONNECTION
              value: pgsql
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_DATABASE
              value: speedtest_tracker
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: speedtest
                  key: dbuser
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: speedtest
                  key: dbpass
            - name: SPEEDTEST_SCHEDULE
              value: "00 3 * * *"
            - name: SPEEDTEST_SERVERS
              value:
            - name: PUBLIC_DASHBOARD
              value: "true"
          volumeMounts:
            - mountPath: /config
              name: speedtest-tracker
      volumes:
        - name: speedtest-tracker
          persistentVolumeClaim:
            claimName: speedtest-app-nfs-pvc
