apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: speedtest-app-nfs-pvc
  namespace: speedtest
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: speedtest-db-nfs-pvc
  namespace: speedtest
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi