apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: actual-budget-nfs-pvc
  namespace: actualbudget
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 2Gi