apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cookbook-db-nfs-pvc
  namespace: "cookbook"
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cookbook-app-nfs-pvc
  namespace: "cookbook"
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Gi