apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: readarr-config-nfs-pvc
  namespace: arr
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 300Mi
  storageClassName: nfs-client