apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellystat
  namespace: jelly
spec:
  selector:
    matchLabels:
      app: jellystat
  template:
    metadata:
      labels:
        app: jellystat
    spec:
      containers:
        - name: jellystat
          image: cyfershepard/jellystat:1.1.6
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "100m"
              memory: "200Mi"
            limits:
              cpu: "700m"
              memory: "300Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          ports:
            - containerPort: 3000
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: pgcluster-jellystat-app
                  key: dbname
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: pgcluster-jellystat-app
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgcluster-jellystat-app
                  key: password
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_IP
              value: "pgcluster-jellystat-rw"
            - name: JWT_SECRET
              value: "my-secret-jwt-key"
          volumeMounts:
            - mountPath: /app/backend/backup-data
              name: jellystat-data
      volumes:
        - name: jellystat-data
          persistentVolumeClaim:
            claimName: jellystat-pvc