apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellystat-pvc
  namespace: jelly
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi