apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data-nfs-pvc
  namespace: grafana
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Mi