apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-data-nfs-pvc
  namespace: arr
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 100Mi