apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ispyagentdvr-config-nfs-pvc
  namespace: dvr
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi