apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: influxdb-nfs-data
  namespace: kube-prometheus-stack
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Gi